@import url(https://fonts.googleapis.com/css?family=Lato);


body {
    font-family : Lato;
    font-size : 14px;
	background-color: #f3e2cb;
}

.page-title {
    font-size:24px; 
	font-weight:bold;
}

.cart-header {
	/*background-color: #0040FF;*/
	background-color: #017CA7;
	color: rgb(0, 0, 0);
}

.bg-custom {
	background-color: #ffffff00;
}


